<form *ngIf="kpi" [formGroup]="editForm">
    <div class="form-header">
        <h2>Форма редактирования KPI</h2>
    </div>
    <div class="form-group">
        <label class="center-block">
            <input type="text" class="form-control" placeholder="Название" [(ngModel)]='kpi.title' formControlName="itemTitle">
        </label>
        <label class="center-block">
            <input type="number" class="form-control" placeholder="Значение" [(ngModel)]='kpi.value' formControlName="itemValue">
            <select class="form-control" [(ngModel)]='kpi.valueOption' formControlName="itemValueOption">
                <option [value]="option" *ngFor="let option of valueOptions">             {{option}}</option>
            </select>
        </label>
    </div>
</form>